<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>

  <h1>{{title}}</h1>
  <!--<h3>Customer</h3>-->
  <hr />

  <!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->

  <p-toast></p-toast>

  <!--<form [formGroup]="customerForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <input type="hidden" name="customerId" value="customerId" formControlName="customerId" />
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12">
        Customer No
        <span class="formFieldRequired">*</span>
      </label>

      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="customerNo"
               [ngClass]="{'is-invalid': customerForm.get('customerNo')
                            .touched && customerForm.get('customerNo').invalid}">
        <div *ngIf="customerForm.get('customerNo').touched && customerForm.get('customerNo').invalid" class="invalid-feedback">
          <div *ngIf="customerForm.get('customerNo').errors.required">Customer No is required.</div>
          <div *ngIf="customerForm.get('customerNo').errors.pattern">Please remove whitespace</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Department">
        Customer Name
        <span class="formFieldRequired">*</span>
      </label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="customerName"
               [ngClass]="{'is-invalid': customerForm.get('customerName')
                                .touched && customerForm.get('customerName').invalid}">
        <div class="invalid-feedback">
          <div>Customer Name is required.</div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-light" [disabled]="!customerForm.valid">Save</button>
      &nbsp;
      <button class="btn btn-light" (click)="cancel()">Cancel</button>
    </div>
  </form>-->

  <div class="col-md-9">
    <div class="card card-warning">
      <div class="card-header">
        <h3 class="card-title">Customer Form</h3>
      </div>
      <form [formGroup]="customerForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
        <div class="form-group">
          <input type="hidden" name="customerId" value="customerId" formControlName="customerId" />
        </div>
        <div class="form-group">
          <label class=" control-label "for="customerNo">
            Customer No
            <span class="formFieldRequired">*</span>
          </label>

          <!--<div class="col-md-4">-->
            <input class="form-control" type="text" formControlName="customerNo"
                   [ngClass]="{'is-invalid': customerForm.get('customerNo')
                            .touched && customerForm.get('customerNo').invalid}">
            <div *ngIf="customerForm.get('customerNo').touched && customerForm.get('customerNo').invalid" class="invalid-feedback">
              <div *ngIf="customerForm.get('customerNo').errors.required">Customer No is required.</div>
              <div *ngIf="customerForm.get('customerNo').errors.pattern">Please remove whitespace</div>
            </div>
          <!--</div>-->

          <!--<div class="alert" *ngIf="!customerForm.controls['customerNo'].valid && customerForm.controls['customerNo'].touched">Required</div>-->
          <!--<span class="text-danger" *ngIf="customerNo.invalid && customerForm.submitted">
            CustomerNo is required.
          </span>-->
        </div>

        <div class="form-group ">
          <label class="control-label" for="customerName">
            Customer Name
            <span class="formFieldRequired">*</span>
          </label>
          <!--<div class="col-md-4">-->
            <input class="form-control" type="text" formControlName="customerName"
                   [ngClass]="{'is-invalid': customerForm.get('customerName')
                                .touched && customerForm.get('customerName').invalid}">
            <div class="invalid-feedback">
              <div>Customer Name is required.</div>
            </div>

          <!--</div>-->

          <!--<div class="alert" *ngIf="!customerForm.controls['customerName'].valid && customerForm.controls['customerName'].touched">Required</div>-->
          <!--<span class="text-danger" *ngIf="customerName.invalid && formDir.submitted">
            CustomerName is required
          </span>-->
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-light" [disabled]="!customerForm.valid"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
          &nbsp;&nbsp;&nbsp;
          <button class="btn btn-light" (click)="cancel()"><i class="fa fa-fw fa-lg fa-times-circle"></i> Cancel</button>
        </div>
      </form>
    </div>


  </div>
</body>
</html>

