<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>

  <h1>{{title}}</h1>
  <!--<h3>Customer</h3>-->
  <hr />
  <p-toast></p-toast>
  <form [formGroup]="invoiceForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <input type="hidden" name="invoiceId" value="invoiceId" formControlName="invoiceId" />
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12">
        Invoice No
        <span class="formFieldRequired">*</span>
      </label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="invoiceNo" [ngClass]="{'is-invalid': invoiceForm.get('invoiceNo')
                            .touched && invoiceForm.get('invoiceNo').invalid}">
        <!--<input class="form-control" type="text" formControlName="invoiceNo"
               [ngClass]="{'is-invalid': invoiceForm.get('invoiceNo')
                            .touched && invoiceForm.get('invoiceNo').invalid}">-->
        <!--<div *ngIf="submitted && f.invoiceNo.errors" class="invalid-feedback">
    <div *ngIf="f.invoiceNo.errors.required"> Invoice No is required</div>
  </div>-->
        <div *ngIf="invoiceForm.get('invoiceNo').touched && invoiceForm.get('invoiceNo').invalid" class="invalid-feedback">
          <div *ngIf="invoiceForm.get('invoiceNo').errors.required">Invoice No is required.</div>
          <div *ngIf="invoiceForm.get('invoiceNo').errors.pattern">Please remove whitespace</div>
        </div>
      </div>
      <!--<span class="text-danger" *ngIf="customerNo.invalid && formDir.submitted">
        CustomerNo is required.
      </span>-->
    </div>

    <!--<div class="form-group row">
      <label class="control-label col-md-12" for="Department">Customer ID</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="customerId">
      </div>
      <span class="text-danger" *ngIf="customerName.invalid && formDir.submitted">
      CustomerName is required
    </span>
    </div>-->

    <div class="form-group row">
      <label class="control-label col-md-12" for="Customer">Customer No</label>
      <div class="col-md-4">
        <!--<select class="form-control" formControlName="customerId">
    <option value="">Select CustomerNo</option>
    <option *ngFor="let customer of  customerList"
            value={{customer.customerId}}>
      {{customer.customerName}}
    </option>
  </select>-->
        <select class="form-control" id="customerId" formControlName="customerId" [ngClass]="{'is-invalid':
                                                    invoiceForm.get('customerId').touched && invoiceForm.get('customerId').invalid}">
          <option value="">Select CustomerNo</option>
          <option *ngFor="let customer of  customerList" value="{{ customer.customerId }}">{{customer.customerName}}</option>
        </select>
      </div>
      <!--<span class="text-danger" *ngIf="customerName.invalid && formDir.submitted">
        CustomerName is required
      </span>-->
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Invoice Date">Invoice Date</label>
      <div class="col-md-4">
        <!--<input class="form-control" type="date" [ngModel]="invoiceDate | date:'yyyy-MM-dd'" (ngModelChange)="invoiceDate = $event" formControlName="invoiceDate">-->
        <input type="date" class="form-control" id="invoiceDate"  [ngModel]=" invoiceDate | date:'yyyy-MM-dd'" name="invoiceDate"  formControlName="invoiceDate" [ngClass]="{'is-invalid':
                                                    invoiceForm.get('invoiceDate').touched && invoiceForm.get('invoiceDate').invalid}">
      </div>
      <div *ngIf="invoiceForm.get('invoiceDate').touched && invoiceForm.get('invoiceDate').invalid" class="invalid-feedback">
        <div *ngIf="invoiceForm.get('invoiceDate').errors.required">Input is required </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12" for="Invoice Amount">
        Invoice Amount
        <span class="formFieldRequired">*</span>
      </label>
      <div class="col-md-4">
        <!--<input class="form-control" type="text" formControlName="invoiceAmount" [ngClass]="{ 'is-invalid': submitted && f.invoiceAmount.errors }">-->
        <input type="number" class="form-control" id="invoiceAmount" formControlName="invoiceAmount" [ngClass]="{'is-invalid':invoiceForm.get('invoiceAmount').touched && invoiceForm.get('invoiceAmount').invalid}">

        <div class="invalid-feedback">
          <div>Invoice Amount is required</div>
        </div>
      </div>
      <!--<span class="text-danger" *ngIf="customerName.invalid && formDir.submitted">
        CustomerName is required
      </span>-->
    </div>

    <!--<div class="form-group row">
      <label class="control-label col-md-12" for="Payment Due Date">Payment Due Date</label>
      <div class="col-md-4">
        <input class="form-control" type="date" [ngModel]="paymentDueDate | date:'yyyy-MM-dd'" (ngModelChange)="paymentDueDate = $event" formControlName="paymentDueDate">
      </div>
      
    </div>-->


    <div class="form-group">
      <button type="submit" class="btn btn-light" [disabled]="!invoiceForm.valid">Save</button>
      &nbsp;
      <button class="btn btn-light" (click)="cancel()">Cancel</button>
    </div>
  </form>


</body>
</html>
